<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <user-search (onSearch)="onSearch($event)"></user-search>
        </div>

    </div>
    <br>
    <ng-template [ngIf]="users.length > 0">
        <div class="row">
            <div class="col-12 col-sm-6">
                <user-list [users]="users">
                </user-list>
            </div>
            <div class="col-12 col-sm-6">
                <user-graph [users]="users"></user-graph>
            </div>
        </div>
    </ng-template>
</div>